extends layout
include _includes/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            +outputRating(location.rating)
          p= location.address
          .card.card-primary
            .card-block
              h2.card-title Opening hours
              each time in location.openingTimes
                p.card-text
                  | #{time.days}: 
                  if time.closed
                    | closed
                  else 
                    | #{time.opening} - #{time.closing}
          .card.card-primary
            .card-block
              h2.card-title Facilities
              each facility in location.facilities
                span.badge.badge-warning
                  i.fa.fa-check
                    | &nbsp;#{facility}
                | &nbsp;
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location map
              img.img-fluid.rounded(src=`http://maps.googleapis.com/maps/api/staticmap?center=${location.coords.lat},${location.coords.lng}&zoom=17&size=400x372&sensor=false&markers=${location.coords.lat},${location.coords.lng}&scale=2&key=AIzaSyA25kWVAtzicMXpCITX-21yZNDBLElZ2ik`)
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href=`/location/${location._id}/review/new`) Add review
              h2.card-title Customer reviews
              each review in location.reviews                  
                .row.review
                  .col-12.no-gutters.review-header
                    span.rating
                      +outputRating(review.rating) 
                    span.reviewAuthor &nbsp;#{review.author}
                    small.reviewTimestamp &nbsp;
                      +formatDate(review.createdOn)
                .col-12
                  p !{review.reviewText}
    .col-12.col-lg-3
      p.lead 
      | #{location.name} is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
      p
      | If you've been and you like it - or if you don't - please leave a review to help people just like you.
      p